{% extends "base.html" %}

{% block contenido %}

<section class="container my-5">

    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Animales Exóticos</h1>
            <p>
                En esta página exploraremos lo maravilloso que es el reino animal. La biodiversidad del planeta nos muestra especies 
                sorprendentes que habitan en diferentes ecosistemas: acuáticos, terrestres y aéreos. Cada una cumple un papel importante 
                en el equilibrio de la naturaleza.
            </p>
        </div>
    </div>


    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <h2>Animales Acuáticos</h2>
            <div>
                <h3>1. Axolote</h3>
                <p>
                    El axolote es un anfibio mexicano que habita en los canales de Xochimilco. Es famoso por su capacidad de regenerar 
                    partes de su cuerpo, como las extremidades y el corazón. Está en peligro de extinción debido a la contaminación 
                    y la pérdida de su hábitat natural.
                </p>
                <img src="{{ url_for('static', filename='descarga.webp') }}" alt="Axolote">

                <h3>2. Pez Mandarín</h3>
                <p>
                    Este pequeño pez tropical es conocido por sus brillantes colores azul, naranja y verde. Vive en los arrecifes 
                    de coral del Pacífico y es una de las especies más llamativas por su apariencia única y comportamiento tranquilo.
                </p>
                <img src="{{ url_for('static', filename='OIP (2).webp') }}" alt="Imagen de pez Mandarín">
            </div>
        </div>
    </div>


    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <h2>Animales Terrestres</h2>
            <div>
                <h3>1. Ocelote</h3>
                <p>
                    El ocelote es un felino salvaje de América Latina con un pelaje lleno de manchas oscuras. Es ágil, solitario 
                    y caza principalmente de noche. Su hábitat se encuentra amenazado por la deforestación.
                </p>
                <img src="{{ url_for('static', filename='OIP (3).webp ') }}" alt="Imagen de ocelote">

                <h3>2. Tapir</h3>
                <p>
                    El tapir es un mamífero herbívoro con un hocico largo y flexible. Vive en selvas tropicales y ayuda a dispersar 
                    semillas, contribuyendo al crecimiento del bosque. Es considerado un “jardinero del ecosistema”.
                </p>
                <img src="{{ url_for('static', filename='descarga (1).webp') }}" alt="imagen de tapir">
            </div>
        </div>
    </div>


    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <h2>Animales Aéreos</h2>
            <div>
                <h3>1. GGuacamaya Roja</h3> 
                <p>
                    La guacamaya roja es una de las aves más bellas del mundo. Sus plumas rojas, azules y amarillas son inconfundibles. 
                    Vive en las selvas húmedas y se alimenta principalmente de frutas y semillas.
                </p>
                <img src="{{ url_for('static', filename='OIP (4).webp') }}" alt="imagen de guacamaya roja">

                <h3>2. Quetzal</h3>
                <p>
                    El quetzal es un símbolo de libertad en América Central. Tiene un plumaje verde brillante con una larga cola 
                    y habita en los bosques nubosos. Es una especie protegida por su importancia ecológica y cultural.
                </p>
                <img src="{{ url_for('static', filename='OIP (5).webp') }}" alt="imagen de quetzal">
            </div>
        </div>
    </div>
</section>
{% endblock %} 