{% extends "base.html" %}

{% block contenido %}
<div class="row justify-content-center mt-5">
  <div class="col-md-8">
    <h2>Bienvenido a mi pagina web</h2>
    <p>En este espacio podrás descubrir información interesante sobre tres temas fascinantes del mundo: 
los <strong>animales exóticos</strong>, los <strong>vehículos antiguos</strong> y las <strong>maravillas del mundo</strong>. 
Aquí encontrarás datos curiosos, imágenes y contenido que te ayudará a conocer mejor lo increíble que puede ser nuestro planeta.
</p>
<p>
En la sección de Animales exóticos conocerás especies sorprendentes del reino animal, tanto acuáticas, terrestres como aéreas.  
En Vehículos antiguos descubrirás la historia y evolución de los primeros autos del mundo.  
Y en Las Maravillas del Mundo podrás admirar algunas de las construcciones y lugares más impresionantes que existen.
</p>

<p>
Explora, aprende y disfruta mientras viajas por el conocimiento y la belleza que nos rodea.
</p>
<img src="static/OIP (13).webp" alt="Ejemplo de animal exótico" width="300">
  <img src="static/OIP (1).webp" alt="Ejemplo de vehículo antiguo" width="300">
</div>
</div>
{% endblock %} 