{% extends "base.html" %}

{% block contenido %}
<div class="container">
<h1 class="text-center">Inicia sesion</h1>
<div class="container ">
    <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Correo electronico">
</div>
<div class="container">
    <label for="Contraseña" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="contraseña" placeholder="Coloca una contraseña">
</div>
<section class="row text-center">
    <div class="col-12">
    <button type="submit" class="btn btn-success">Iniciar sesion</button>
</div>
{% endblock %}       