{% extends "base.html" %}

{% block contenido %}
    <main class="container">
        <h1 class="text-center">Crea una cuenta</h1>
        <h6 class="text-center">Es facil y rapido</h6>
        <section>
            <form>
                <section class="row">  
                    <div class="col-md-8"> 
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required minlenght="3" maxlenght="100">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="Apellido" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido"required minlenght="3" maxlenght="100" >
                    </div>
                </section>
                <form>
                    <div class="container">
                        <label for="fecha" class="form-label">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="fecha" name="fecha"> 
                    </div>
                    <div class="container">
                        <label for="genero" class="form-label">Genero</label>
                        <input type="radio" id="hombre" name="genero" value="hombre">
                        <label for="hombre">Hombre</label>
                        <input type="radio" id="mujer" name="genero" value="mujer">
                        <label for="hombre">Mujer</label>
                        <input type="radio" id="otro" name="genero" value="otro">
                        <label for="hombre">Otro</label>
                    </div>
                    <div class="container">
                        <label for="email" class="form-label">email</label>
                        <input type="email" name="email" class="form-control" id="email" required placeholder="correo@" pattern="[a-z0-9._%+-]+@[a-z](2,)" value= "{{ request.form.get("email",''))}">
                    </div>
                    <div class="container">
                        <label for="Contraseña" class="form-label">Contraseña</label>
                        <input type="password" name="clave" class="form-control" id="contraseña" placeholder="Coloca una contraseña">
                    </div>
                    <div class="container">
                        <input type="submit" value="enviar">
                    </div>
                <section class="container text-center">
                        <h2 style="background: #ffffffff; color:blue; text-align: center;">Ya tienes una cuenta?</h2>
                        <a href="/iniciodesesion" type="submit" class="btn btn-success">Inicia sesion</a> 
                    </div>
            </form>
        </section>
    </main>
{% endblock %}   